out/

# Cert
security/platform.x509.pem
security/platform.pk8

#
# We don't want to ignore the following even if they are dot-files
#
!.gitattributes
!.gitignore
!.gitmodules

# Windows Zone Identifier files
*:*Zone.Identifier
Dockerfile.build
.DS_Store
/.agents
CLAUDE.md
Handoff_ProjectNERV.md
A14_PATCH_STRUCTURE.md
KERNEL_SECMM_PLAN.md
